html,body,h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif}

a {
    text-decoration: none;
    color: unset;
}

#col_left {
    padding: 0 50px 30px 100px;
}
#text1 {
    font-size: 5vw;
}
#text2 {
    padding-left: 30px;
    height: 10px;
    cursor: pointer;
}

.app__home {
    display: flex;
    flex-direction: column;
  }
  
  .app__home-header {
    height: 500px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home__header-title {
    font-size: 4em;
  }
  
  .home__header-subtitle {
    font-size: 1.5em;
    font-weight: 300;
  }
  
  .home__header-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 1em 2em;
    margin-top: 3em;
    cursor: pointer;
  }
  
  .app__home-intro {
    display: flex;
    width: 70%;
    align-self: center;
    justify-content: space-around;
    height: 30vh;
    margin-top: 7em;
  }
  
  .app__home-info-image__container img {
    width: 5vw;
  }
  
  .app__home-info__container p {
    width: 20vw;
  }